.container{
    width: 100%;
    height: 100vh;
    background: #141414;
    /* Vertical centering */
    align-items: center;
    /* Creates flex container */
    display: flex;
    /* Horizontal centering */
    justify-content: center;
}

/* Buttons */
.calculator{
    background: #3a4452;
    /* Spacing from buttons to edges of .calculator box */
    padding: 20px;
    /* Smooths the edges */
    border-radius: 10px;
}

/* Buttons */
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    /* Smooths the edges */
    border-radius: 10px;
    box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 30px;
    color: white;
    cursor: pointer;
    /* Spacing between all the buttons */
    margin: 10px;
}

/* Display window */
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

/* Display window */
form .display input{
    text-align: right;
    /* Makes it full width left to right */
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equals{
    width: 145px;
}

form input.operator{
    color: #eb830e;
}
